<h1>IP Dirección</h1>

<%= "IP.............:" %><%= @ip %><br>
<%= "Country Code...:" %><%= @cc %><br>
<%= "Country Name...:" %><%= @cn %><br>
<%= "Region Name....:" %><%= @rn %><br>
<%= "City...........:" %><%= @ct %><br>
<%= "Latitude.......:" %><%= @la %><br>
<%= "Longitude......:" %><%= @lo %><br>
<br>


<%= button_to 'Regresar', root_url, method: :get, :class => "btn-sm btn-primary" %>

